<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a new NEWS</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/earphones/<%=ear._id%>?_method=Put"
      >
        <div class="form-group">
          <input class="form-control" text" name="ear[ModelName]"
          value="<%=ear.ModelName%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Brief]"
          value="<%=ear.Brief%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Description]"
          value="<%=ear.Description%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Image]"
          value="<%=ear.Image%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Price]"
          value="<%=ear.Price%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Mic]" value="<%=ear.Mic%>"
          />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[ConnectorType]"
          value="<%=ear.ConnectorType%>"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[Connectivity]"
          value="<%=ear.Connectivity%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="ear[BatteryCapacity]"
          value="<%=ear.BatteryCapacity%>" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
