<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Update Gadget</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/graphicCard/<%=graphic._id%>?_method=Put"
      >
        <div class="form-group">
          <input class="form-control" text" name="graphic[ModelName]"
          value="<%=graphic.ModelName%>" placeholder="Model Name" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Brief]"
          value="<%=graphic.Brief%>" placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Description]"
          value="<%=graphic.Description%>" placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Image]"
          value="<%=graphic.Image%>" placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[LaunchedDate]"
          value="<%=graphic.LaunchedDate%>" placeholder="Launched Date" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Price]"
          value="<%=graphic.Price%>" placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[GPUChip]"
          value="<%=graphic.GPUChip%>" placeholder="GPU Chip" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Bus]"
          value="<%=graphic.Bus%>" placeholder="Bus" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Memory]"
          value="<%=graphic.Memory%>" placeholder="Memory" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[GPUClock]"
          value="<%=graphic.GPUClock%>" placeholder="GPU Clock" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[MemoryClock]"
          value="<%=graphic.MemoryClock%>" placeholder="Memory Clock" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[Shaders]"
          value="<%=graphic.Shaders%>" placeholder="Shaders" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="graphic[ItemType]"
          value="<%=graphic.ItemType%>" placeholder="Item Type"/>
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
