<%- include ('../partials/header')%>
<h1 class="mt-5 d-flex justify-content-around">Add a new Headphone</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/headphones/<%=head._id%>?_method=Put"
      >
        <div class="form-group">
          <input class="form-control" text" name="headp[ModelName]"
          value="<%=head.ModelName%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Brief]"
          value="<%=head.Brief%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Description]"
          value="<%=head.Description%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Image]"
          value="<%=head.Image%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[HeadphoneType]"
          value="<%=head.HeadphoneType%>"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Price]"
          value="<%=head.Price%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Mic]"
          value="<%=head.Mic%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[ConnectorType]"
          value="<%=head.ConnectorType%>"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[Connectivity]"
          value="<%=head.Connectivity%>" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="headp[BatteryCapacity]"
          value="<%=head.BatteryCapacity%>" />
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
