<%- include ('../partials/header')%>

<link rel="stylesheet" type="text/css" href="/general.css" />

<style>
  * {
    box-sizing: border-box
  }

  .mySlides1,
  .mySlides2 {
    display: none;
    
  }

  img {
    vertical-align: centre;
  }


  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:0;
    width: 5px;
    padding: 12px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.7s ease;
    border-radius: 10px 3px 3px 10px;
    
    user-select: none;
    background-color: black;

  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5px;
    padding: 12px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.7s ease;
    right: 0;
    border-radius: 5px 10px 10px 5px;
    user-select: none;
    background-color: black;
  }

  
  /* On hover, add a grey background color */
  .prev:hover,
  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  p{
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
</style>

<div class="container bg-light" id="jumboMargin">
  <div class="container text-center pt-0">
    <h1 class="display-3">TECH FOR YOU</h1>
    <p class="lead">Welcome to the world of technology.</p>
    <p>A place to keep yourself updated.</p>
  </div>
</div>
<div class="d-flex mx-3">
  <div class="col-left flex-column">
    <a class="btn btn-info" href="news">NEWS</a>
    <a class="btn btn-info" href="preBuilt">PRE-BUILT PC</a>
    <a class="btn btn-info" href="gadgets">GADGETS</a>
  </div>
  <div class="row">
    <div class="slideshow-container">
      <div class="d-flex flex-row">
        <% news.forEach(function(newsAll){%>
        <div class="mySlides1">
         <table>
           <tr >
            <td colspan="2">
              <h4 style="text-align: center;">
               <%=newsAll.header%>
                </h4>
              </td>      
            </tr>
            <tr>
             <td >
            <img src="<%=newsAll.image%>" style="width:100%; height:300px" >
<!-- <img src="" style="width: 600px; height: 400px;"> -->
</td>     

  <td><p>
    <%=newsAll.brief%>
  </p>
  </td>
</tr>
          
            </table>
            
          <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
          <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
        <% })%>
      </div>
      </div>

      <div class="slideshow-container">
        <div class="mySlides2">
          <div class="card bg-dark text-light">
            <img
              class="card-img-top"
              src=".../100px180/"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>
    </div>
    <div class="col-right">
      <div class="container">
        <form class="searchbar">
          <input
            type="search"
            placeholder="Search here"
            name="search"
            class="searchbar-input"
            onkeyup="buttonUp();"
            required
          />
          <input type="submit" class="searchbar-submit" value="GO" />
          <span class="searchbar-icon"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/slideshow.js"></script>
<%- include ('../partials/footer')%>
