<%- include ('../partials/header')%>
<h1 class="mt-5 d-flex justify-content-around">Edit Mobile</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/mobiles/<%=mobile._id%>?_method=Put"
      >
        <div class="form-group">
          <input class="form-control" text" name="mobile[ModelName]"
          value="<%=mobile.ModelName%>" placeholder="Model Name" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Brief]"
          value="<%=mobile.Brief%>" placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Description]"
          value="<%=mobile.Description%>" placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Image]"
          value="<%=mobile.Image%>" placeholder="Image" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[LaunchedDate]"
          value="<%=mobile.LaunchedDate%>" placeholder="Launched Date" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Price]"
          value="<%=mobile.Price%>" placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[CPU]"
          value="<%=mobile.CPU%>" placeholder="CPU" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[GPU]"
          value="<%=mobile.GPU%>" placeholder="GPU" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[RAM]"
          value="<%=mobile.RAM%>" placeholder="RAM" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Display]"
          value="<%=mobile.Display%>" placeholder="Display" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Memory]"
          value="<%=mobile.Memory%>" placeholder="Storage" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[Camera]"
          value="<%=mobile.Camera%>" placeholder="Camera"/>
        </div>
        <div class="form-group">
          <input class="form-control" text" name="mobile[ItemType]"
          placeholder="Item Type" value="<%=mobile.ItemType%>"/>
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
