<%- include ('../partials/header')%>

<h1 class="mt-5 d-flex justify-content-around">Add a new Processor</h1>
<div class="container">
  <div class="row">
    <div style="width: 50%; margin: 3% auto">
      <form
        class="jsutify-content-around"
        method="post"
        action="/gadgets/processors/<%=processor._id%>?_method=Put"
      >
        <div class="form-group">
          <input class="form-control" text" name="processor[ModelName]"
          value="<%=processor.ModelName%>" placeholder="Model Name" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Brief]"
          value="<%=processor.Brief%>" placeholder="Brief" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Description]"
          value="<%=processor.Description%>" placeholder="Description" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Image]"
          value="<%=processor.Image%>" placeholder="Image Link" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[LaunchedDate]"
          value="<%=processor.LaunchedDate%>" placeholder="Launched Date" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Price]"
          value="<%=processor.Price%>" placeholder="Price" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[ClockFrequency]"
          value="<%=processor.ClockFrequency%>" placeholder="Clock Frequency" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[TurboFrequency]"
          value="<%=processor.TurboFrequency%>" placeholder="Turbo Frequency" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[PhysicalCores]"
          value="<%=processor.PhysicalCores%>" placeholder="Physical Cores" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Threads]"
          value="<%=processor.Threads%>" placeholder="Threads" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[Power]"
          value="<%=processor.Power%>" placeholder="Power" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[BitWidth]"
          value="<%=processor.BitWidth%>" placeholder="Bit-width" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[MaxMemory]"
          value="<%=processor.MaxMemory%>" placeholder="Max Memory" />
        </div>
        <div class="form-group">
          <input class="form-control" text" name="processor[ItemType]"
          value="<%=processor.ItemType%>" placeholder="Item Type"/>
        </div>
        <button class="btn btn-block btn-lg btn-info">Submit</button>
        <div class="form-group"></div>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer')%>
