<%- include ('../partials/header')%>
<link rel="stylesheet" type="text/css" href="/news.css" />
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<style>
 
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
</style>
<div id="container" class="animate__animated animate__backInLeft">
  <div class="jumbotron text-center" style="background-color: #282c35; color: beige;border-radius: 35px">
    <h1>Welcome to the laptop Section</h1>
  </div>
</div>
<div class="ml-4 mr-0" style="margin-top: 10px">
  <div class="d-flex pr-0">
    <div class="row col-md-10 col-8 justify-content-around  p-0">
      <img src="<%=laptop.Image%>" style="height:300px;"class="row animate__animated animate__flipInY col-md-3 col-12 bg-info p-0"></img>

      <div class="row col-md-8 col-12">
        <table class="animate__animated animate__flipInX ">
          <tr>
            <th><h2>Specs</h2></th>
            <th><h2>Details</h2></th>
          </tr>
          <tr>
            <td><b>Model Name</b></td>
            <td><%=laptop.ModelName%></td>
          </tr>
          <tr>
            <td><b>Launch Date</b></td>
            <td><%=laptop.LaunchedDate%></td>
          </tr>
          <tr>
            <td><b>Launch Price</b></td>
            <td>₹<%=laptop.Price%></td>
          </tr>
          <tr>
            <td><b>Processor Details</b></td>
            <td><%=laptop.CPU%></td>
          </tr>
          <tr>
            <td><b>Graphic Details</b></td>
            <td><%=laptop.GPU%></td>
          </tr>
          <tr>
            <td><b>Memory</b></td>
            <td><%=laptop.Memory%></td>
          </tr>
          <tr>
            <td><b>Display</b></td>
            <td><%=laptop.Display%></td>
          </tr>
          <tr>
            <td><b>Camera</b></td>
            <td><%=laptop.Camera%></td>
          </tr>
          <tr>
            <td colspan="2"><b>Description</b><br>
            <%=laptop.Description%>
            </td>
          </tr>
          </table>
          <%if(!currentUser){}else{%>
            <div class="d-flex mt-4 align-items-start">
                <a class="btn btn-sm btn-warning" href="/gadgets/laptops/<%=laptop._id%>/edit%>"
                  >Update</a
                >
                <form action="/gadgets/laptops/<%=laptop._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">
                    Delete
                  </button>
              </form>
              </div>
            <%}%>
        
      </div>
    </div>
    <!-- <div class="d-flex flex-row col-md-2 col-4 mr-0 pr-0">
      <div class="container">
        <form class="searchbar">
          <input
            type="search"
            placeholder="Search here"
            name="search"
            class="searchbar-input"
            onkeyup="buttonUp();"
            required
          />
          <input type="submit" class="searchbar-submit" value="GO" />
          <span class="searchbar-icon"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </form>
      </div>
    </div> -->
  </div>
</div>

<%- include ('../partials/footer')%>
